#example .demo-container {
    text-align: center;
}
 
.combobox-wraper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: left;
}
 
html .demo-container .RadButton {
    margin-left: 5px;
}
 
html .demo-container h3 {
    float: left;
    margin: 33px 0 3px;
}
 
.demo-container ul {
    margin: 30px 15px 0;
    overflow: hidden;
    list-style-type: none;
}
 
.demo-container p {
    margin: 30px 0 0;
}
 
.demo-container .results {
    text-align: left;
}
 
.RadComboBox .rcbLabel {
    padding-top: 5px;
}
