
        .select2-container--default .select2-selection--single {
            background-color: none !important;
            border-radius: 0px !important;
            border: 1px solid #ccc!important;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s!important;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
        }

        .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
            min-height: 34px !important;
            border: 1px solid #ccc !important;
            max-width: 960px!important;
        }

          @media screen and (max-width: 767px) {
    .select2 {
        width: 100% !important;
    }


}
  
   